@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

:root {
  --font-Regular: 'Pretendard-Regular';
  --font-Bold: 'Pretendar-Bold';
}

[data-aos="custom-animate"] {
  opacity : 0;
  transform: translateZ(0);

  &.aos-animate {
    opacity: 1;
  }
}

body {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}